<h1>Shopper - super simple shopping list</h1>
<ul>
  <% @items.each do |item| %>
    <li><%= item.name %></li>
  <% end %>
</ul>
<input type="text" placeholder="Please enter an item"> <input type="submit" value="+">
