<h1>Shopper - super simple shopping list</h1>
<ul>
  <% @items.each do |item| %>
    <li><%= item.name %></li>
  <% end %>
</ul>

<%= form_with url: items_path  do |form| %>
  <%= form.text_field :name, placeholder: "Please enter an item", :autofocus => true %>
  <%= form.submit "+" %>
<% end %>
